In [5]:
import twitter, json
import pandas as pd

from datetime import datetime

### 1. Authorization

- **Step 1** Save your credential as following in a json file
- **Step 1** Name the json file "creds.json" and save it in the directory this jupyter notebook is located.

```
{'consumer_key':        CONSUMER_KEY,
 'consumer_secret':     CONSUMER_SECRET,
 'access_token_key':    ACCESS_TOKEN,
 'access_token_secret': ACCESS_TOKEN_SECRET}```

In [9]:
creds_file = open('./creds.json', 'r')
twitter_keys = json.loads(creds_file.read())

In [11]:
api = twitter.Api(consumer_key         =   twitter_keys['consumer_key'],
                  consumer_secret      =   twitter_keys['consumer_key_secret'],
                  access_token_key     =   twitter_keys['access_token'],
                  access_token_secret  =   twitter_keys['access_token_secret'])

### 2. Search for tweets
- `term`: *str* | keyword to search for
- `geocode`: *str* | geographic coordinate ["longitude,latitude,radius"]

In [58]:
tweets = api.GetSearch(term = 'fire',
              geocode = "34.086139,-118.480466,1mi")

### 3. Save the search result in a dataframe

In [242]:
# Grab result from the search
created_at = []

user_id = []
user_location = []
user_name = []

location_type = []
location = []
coordinate = []

hashtags = [] 
text = []

for tweet in tweets:
    td = tweet.__dict__
    created_at.append(td["created_at"])
    hashtags.append([hg.text for hg in td["hashtags"]])
    user_id.append(td["id"])
    location_type.append(td["place"]["place_type"])
    location.append(td["place"]["full_name"])
    coordinate.append(td["place"]["bounding_box"]["coordinates"])
    user_location.append(td["user"].location)
    user_name.append(td["user"].screen_name)
    text.append(td["text"])

# Save the result in a dataframe
keys = ["created_at", "user_id", "user_location", "user_name",
        "location_type", "location", "coordinate",
        "hashtags", "text"]
values = [created_at, user_id, user_location, user_name,
          location_type, location, coordinate,
          hashtags, text]
out_df = {}

for key, value in zip(keys, values):
    out_df[key] = value
    
result = pd.DataFrame(out_df)

In [243]:
result

,created_at,user_id,user_location,user_name,location_type,location,coordinate,hashtags,text
0,Mon Oct 28 13:12:33 +0000 2019,1188805755056447488,"Los Angeles, CA",abc7JoshHaskell,poi,Crestwood Hills Recreation Center,"[[[-118.48855366158007, 34.07648455000092], [-...","[tigertail, Brentwood]",Horrible situation on #tigertail right now in ...
1,Mon Oct 28 19:17:07 +0000 2019,1188897501278900224,Los Angeles,abc7robhayes,neighborhood,"Brentwood, Los Angeles","[[[-118.528736, 34.041356], [-118.457499, 34.0...",[],Before/After the Getty Fire. \n\nThis is 1510 ...
2,Wed Oct 30 07:50:37 +0000 2019,1189449512961495040,"Los Angeles, CA",jintakhan,poi,Mount St. Mary's College Campus Center,"[[[-118.48168318584761, 34.08396202249944], [-...",[],Up at Mount St. Mary’s University. The wind is...
3,Tue Oct 29 16:31:26 +0000 2019,1189218195116158976,santa monica . maine . boston,runawaykat,neighborhood,"Brentwood, Los Angeles","[[[-118.528736, 34.041356], [-118.457499, 34.0...",[],"los angeles renters, i just asked my leasing o..."